:root{
    --genBg: #F8FAFC; /*#4CAF50 #FAF8F5;*/
    --genText: #1E293B; /*#2f54e7 #0F172A; */
}
*{
    box-sizing: border-box; margin: 0; padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: var(--genBg);
    color: var(--genText);
    display: flex;
}

.topText { font-size: 2rem; color: #1E293B; }
.superscriptText{ font-size: 2rem;margin-left: 2px;color: #334563;}
.bigText { font-size: 5rem; font-weight: bold; color: #334563; margin-top: 0; margin-bottom: 8px; }
.smallText { font-size: .75rem; color: #2c3d57;}
.headlineText{ font-size: 1.5rem;margin-bottom: .75rem;}
.sectionText{ font-size: 1.25rem;}

.containerLeft{
    display: flex; flex-direction: column;
    width: 20vw; height: 100vh;
    background-color: #ffffe3;

}
.leftTop{
    display: flex;
    padding: 2.5rem; gap: 1.25rem;
    background-color: #74aae1;
}
.leftMiddle{
    display: flex; flex-direction: column; flex-grow: 1;
    margin-top: 4rem; gap: 1rem;
}
.leftMenuItem{
    background-color: beige;
    display: flex; flex-direction: row;
    padding: 1.25rem; gap: 1.5rem; align-items: center;
}
.leftBottom{
    display: flex; padding: 1rem; background-color: #74aae1; 
}



.container{
    display: none; flex-direction: column; flex-grow: 1;
    width: 80vw; height: 100vh;
    background-color: var(--genBg); padding: 2rem; gap: 1rem;
}
.container.active{
    display: flex;
}

.rightTop{
    display: flex;
    padding: 2rem 8rem; border-radius: 2rem;
    box-shadow: 0 8px 8px rgba(0.1, 0.2, 0.1, 0.2);
}
.rightMiddle{
    display: flex; flex-direction: column;
    padding: .3rem; border-radius: 2rem; height: 50rem;
}
.midSection{
    display: flex; flex-direction: row;
    height: 18rem; gap: 1rem;
}


.mainDisplay{
    display: flex; flex-direction: column;
    border: .1rem  none black; border-radius: 1rem;
    padding: .5rem; width: 50%; box-shadow: 0 8px 8px rgba(0.1, 0.2, 0.1, 0.2);
    background-image: url('resources/cloudy.jpg'); background-size: cover; background-position: center; background-repeat: no-repeat;
}
.mdTempartureText{
    display: inline-flex;
    align-items: flex-start;
}
.mdCondition{
    display: flex; flex-direction: row;
}
.highlightDisplay{
    display: flex;
    border-radius: 1rem;
    width: 100%; padding: .1rem;
    margin-top: auto;
}
.detailsDisplay{
    border-radius: 1rem;
    width: 50%; padding: 1rem;
    box-shadow: 0 8px 8px rgba(0.1, 0.2, 0.1, 0.2);
}

.details-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 32px;
  position: relative;
}

.details-grid::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
  width: 1px;
  background: #000;
}

.item {
  display: flex;
  justify-content: space-between;
  padding: 8px 0;
  border-bottom: 1px solid; 
}

.rightBottom{
    height: 10rem;
    padding: 1rem; border-radius: 2rem; box-shadow: 2px 2px 8px 8px rgba(0, 0.2, 0, 0.2);
    margin-top: auto;
}
.infoCardHolder{
    display: flex; flex-direction: row; justify-content: space-between;
}
.infoCards{
    display: flex; flex-direction: row; justify-content: center; align-items: center;
    background-color: #c1d3e675;
    height: 4.5rem; width: 8rem;
    gap: .7rem; padding: .5rem;
    margin: .35rem; border-radius: 1rem; box-shadow: 0 8px 8px rgba(0.1, 0.2, 0.1, 0.2);
}
.infoCards img{
    width: 1.5rem; height: 1.5rem;
}
.infoCardText{
    display: flex; flex-direction: column;
}

.bigInfoCardHolder{
    display: flex; flex-wrap: wrap;
    padding: 3rem; width: 100%;
}