:root{
    --genBg: #F8FAFC; /*#4CAF50 #FAF8F5;*/
    --genText: #1E293B; /*#2f54e7 #0F172A; */
}
*{
    box-sizing: border-box; margin: 0; padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: var(--genBg);
    color: var(--genText);
    display: flex;
}
.superscriptText{ font-size: 2rem; font-weight: bold;margin-left: 2px;color: #ffffff;}
.bigText { font-size: 5rem; font-weight: bold; color: #ffffff; letter-spacing: 0.5px; margin-top: 0; margin-bottom: 8px; }

.containerLeft{
    display: flex; flex-direction: column;
    width: 20vw; height: 100vh;
    background-color: #ffffe3;

}
.leftTop{
    display: flex;
    padding: 2.5rem; gap: 1.25rem;
    background-color: #74aae1;
}
.leftMiddle{
    display: flex; flex-direction: column; flex-grow: 1;
    margin-top: 4rem; gap: 1rem;
}
.leftMenuItem{
    background-color: beige;
    display: flex; flex-direction: row;
    padding: 1.25rem; gap: 1.5rem; align-items: center;
}
.leftBottom{
    display: flex; padding: 1rem; background-color: #74aae1; 
}



.containerRight{
    display: flex; flex-direction: column; flex-grow: 1;
    width: 80vw; height: 100vh;
    background-color: #9dada4; padding: 2rem; gap: 1rem;
}
.rightTop{
    display: flex;
    padding: 2rem 8rem; border-radius: 2rem;
    background-color: cadetblue;
}
.rightMiddle{
    display: flex; flex-direction: column; flex-grow: 1; background-color: aqua;
    padding: 3rem; border-radius: 2rem;
    background-image: url('resources/cloudy.jpg');
    background-size: cover; background-position: center; 
}
.mainDisplay{
    display: flex; flex-direction: column; flex-grow: 1;
    border: .1rem solid black;
    border-radius: 1rem;
}
.mdTempartureText{
    display: inline-flex;
    align-items: flex-start;
}
.mdCondition{
    display: flex; flex-direction: row;
}

.extraDisplay{
    display: flex;
    background-color: blanchedalmond;
    border-radius: 1rem;
    width: 100%; padding: 1rem;
}

.rightBottom{
    padding: 1rem; background-color: #5f81b8; border-radius: 2rem;
}