:root{
    --genBg: #F8FAFC; /*#4CAF50 #FAF8F5;*/
    --genText: #1E293B; /*#2f54e7 #0F172A; */
}
*{
    box-sizing: border-box; margin: 0; padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: var(--genBg);
    color: var(--genText);
    display: flex;
}


.containerLeft{
    display: flex; flex-direction: column;
    width: 20vw; height: 100vh;
    background-color: #ffffe3;

}
.leftTop{
    display: flex;
    padding: 40px; gap: 20px;
    background-color: #74aae1;
}
.leftMiddle{
    display: flex; flex-direction: column; flex-grow: 1;
    margin-top: 4rem; gap: 1rem;
}
.leftMenuItem{
    background-color: beige;
    display: flex; flex-direction: row;
    padding: 1.25rem; gap: 1.5rem; align-items: center;
}
.leftBottom{
    display: flex; padding: 1rem; background-color: #74aae1; 
}
.containerRight{
    width: 80vw; height: 100vh;
    background-color: #9dada4;
}