:root{
    --genBg1: #dcfffa;
    --genBg2: #86ffed; /*#FAF6F6 dbdbdb */
    --genText1: #353d3c; 
    --genText2: #0f1e1c; /*2B1A1C 271818*/
    --genText1Lt: #6a7a78;
    --genText2Lt: #3c756e;
    --selectorBg: #014f45; /* B21F24 9f1e1e C92A2A*/
    --selectorText: #86ffed;
    --leftPanelBg: #95ede0;
    
    --font-modern: system-ui, -apple-system, Ubuntu, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;  margin: 0; padding: 0;
    font-family: var(--font-modern);
    background-color: var(--genBg1); color: var(--genText1);
    width: 100%; max-width: 100%; height: 100vh;
}
body.dark{
    --genBg1:  #353d3c; 
    --genBg2: #0f1e1c;
    --genText1: #dcfffa;
    --genText2: #86ffed;
    --genText1Lt: #6a7a78;
    --genText2Lt: #74e3d6;
    --selectorBg: #86ffed;
    --selectorText: #014f45;
    --leftPanelBg: #406a64;
}

.btrh1 {font-size: 1.75rem; font-weight: 800; color: var(--genText2); letter-spacing: -0.08rem; 
    line-height: 1.1; margin-top: 0rem; margin-bottom: .2rem; display: block; }
.btrh2 {font-size: 1.2rem; font-weight: 600; color: var(--genText2); letter-spacing: -0.04rem; 
    line-height: 1.1; margin-top: 0rem; margin-bottom: .2rem; display: block; }
.btrh2Lt {font-size: 1rem; font-weight: 400; color: var(--genText2Lt); letter-spacing: -0.06rem; 
    line-height: 1.1; margin-top: 0rem; margin-bottom: .2rem; display: block; font-style: italic;}
.normalTxt{font-size: .8rem; font-weight: 400; color: var(--genText2); }
.normalTxtBold{font-size: .9rem; font-weight: 800; color: var(--genText2);}
.smallTxt{font-size: .7rem; font-weight: 400; color: var(--genText2); letter-spacing: .08rem;}
.catTxt{font-size: .8rem; font-weight: 600; color: var(--genText2); }
.catTxtLt{font-size: .8rem; font-weight: 200; color: var(--genText2); }
.rcntTxt{font-size: .9rem; font-weight: 400; color: var(--genText2);
    padding: .4rem; border-bottom: 2px solid #00000020; border-radius: .1rem;}
.yearText{font-size: .7rem; font-weight: 400; color: var(--genText2); letter-spacing: .08rem; margin-left: .2rem;}

