:root{
    --genBg: #075f75; /*#4CAF50 #FAF8F5;*/
    --genText: #1f2937; /*#2f54e7 #0F172A; */
}
*{
    box-sizing: border-box; margin: 0; padding: 0;
}
body{
    font-family: Arial, sans-serif;
    background-color: var(--genBg);
    color: var(--genText);
}

.title { font-size: 28px; font-weight: bold; color: #ffffff; letter-spacing: 0.5px; margin-top: 0; margin-bottom: 8px; }
.subtitle { font-size: 16px; color: #7fe0e0; text-transform: uppercase; margin-bottom: 24px; }
.text { font-size: 16px; color: #ffffff; margin-bottom: 8px; }
.sub-text { font-size: 12px; color: #9dc8cb; }
.topText { font-size: 18px; color: #cfa561; }
.question-text { font-size: 24px; font-weight: bold; color: #15d7f9; margin-top: 24px; margin-bottom: 10px; }
.answer-text { font-size: 16px; color: #90beff; background-color: #1ba1c3; padding: 12px; border-radius: 6px; margin-bottom: 12px; }
.revRowQ { font-size: 16px; font-weight: 800; color: #b8e1ff; margin-bottom: 10px; }
.revRowA { font-size: 14px; font-weight: 400; color: #69f0ae; margin-bottom: 2px; }
.revRowA.txtGray{color: #e2e8f0;}
.revRowA.txtGreen{color: #69f0ae;}
.revRowA.txtRed{color: #ff7979;}
.revRowA.stGray{color: #4c4d4d;}
.revRowA.stGreen{color: #17814e;}
.revRowA.stRed{color: #d82626;}

.option{
    background-color:  #2d3b4f;
    width: 30%;
}

.btn{
    font-size: 1rem; /* by default 1rem=16px, thus 0.5rem=8px and so on. */
    font-weight: 600;
    padding: 0.75rem 1.5rem;
    border-radius: 6px;
    cursor: pointer;
}
.btn1 {
    background-color: #FF9F43;
    color: #0F172A;
    border: 2px solid #FF9F43;
    width: 480px;
}
.btn1:hover {
    background-color: #0F172A;
    color: #FF9F43;
}
.btn2 {
    background-color: #0F172A;
    color: #94A3B8;
    border: 1px solid #1E293B;
    width: 240px;
}
.btn2:hover {
    background-color: #FF9F43;
    color: #0F172A;
    border-color: #FF9F43;
}
.btn3 {
    background-color: #334155; 
    color: #ced4db;
    border: 1px solid #475569;
    width: 200px;
}
.btn3:hover {
    background-color: #e19090; 
    color: #0F172A;
    border-color: #FF9F43;
}
.btn4 {
    background-color: #002a5d; 
    color: #ced4db;
    border: none;
    width: 200px;
}
.btn4:hover {
    background-color: #00c3ff; 
    color: #0F172A; 
}
.btn:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
  opacity: 0.6;
}

.leftBar{
    width: 30%; height: 100vh;
    background-color: rgb(15, 109, 191);
}
.leftBar img{
    width: 100%; height: 100%;
    object-fit: cover;
    display: block;
}

.rightContent{
    height: 100vh;
    background-color: var(--genBg); color: var(--genText);
    flex-direction: column;
    padding: 120px;
    flex: 1; align-content: center; justify-content: center; 
}
.hpDiv{
    display: none; flex-direction: row;
    height: 100vh; width: 100vw;
}
.hpDiv.activated{
    display: flex;
}
.hpContentDiv{
    margin-bottom: 12px;
    display: flex; flex-direction: row;
}
.hpTextContainer{
    display: flex; flex-direction: column; margin-left: 12px; padding: 8px; margin-top: 12px;
}
.hpImgContainer{
    display: flex;
    align-items: center; justify-content: center;
}
.hpButton{
    margin: 20px;
    height: 40px; width: 400px;
    background-color: #06373d; color: #e0f2fe;
}



.quizDiv{
    display: none; flex-direction: column;
    height: 100vh; width: 100vw;
}
.quizDiv.activated{
    display: flex;
}
.quizTop{
    display: flex; flex-direction: row; 
    justify-content: space-between; align-items: center;
    background-color: #06373d; color: #e9e9e9;
    padding: 4px 12px;
    
}
.quizBody{
    display: flex; flex-direction: column; justify-content: center;
    flex-grow: 1;
    padding: 20px; margin: 100px;
    border-radius: 8px;
    box-shadow: 0 8px 8px rgba(0, 0.2, 0, 0.2);
}
.quizBodyAll{
    padding: 0px 100px;
}
.progressBar{
    width: 300px;
    height: 15px;
    background-color: #7f7b7b;
    border-radius: 25px;
}
.progress{
    width: 0%;
    height: 100%;
    background-color: #26eb26c4;
    border-radius: 25px;
}

.reviewDiv{
    display: none; flex-direction: column; /* flex none*/
    height: 100vh; width: 100vw;
}
.reviewDiv.activated{
    display: flex;
}
.revTop{
    display: flex; flex-direction: row; 
    justify-content: space-between; align-content: center;
    background-color: #06373d; color: #e9e9e9;
    padding: 4px 12px;
}
.statusIcon{
    width: 16px; height: 20px;
    
}
.revStatus{
    display: flex; justify-content: center; align-items: center;
    gap: 8px;
}
.revStatus p{
    margin: 0px 8px;
    
}
.revBody{
    display: flex; flex-direction: column;
    justify-content: space-between;
    padding: 80px;
}
.revBot{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.revRow{
    display: flex; 
    padding: 10px 16px;
    border-bottom: 1px solid #06373d;
}
.revQaNumber{
    display: flex; justify-content: center; align-items: center;
    padding: 10px; margin-bottom: 2px;
    border: 1px none lightgreen; border-radius: 50px;
    height: 40px; width: 40px;
    background: rgba(144, 238, 144, 0.2); color: #232c2e;
    font-size: 14px; font-weight: 400;  
}
.revQaNumber.sldGray{ background: #e2e8f0;}
.revQaNumber.sldGreen{background: #69f0ae;}
.revQaNumber.sldRed{background: #ff7979;}


.revRowQa{
    flex-grow: 1;
    padding:10px;
}
.revRowRightStatDiv{
    width: 120px; height: 40px;
    display: flex; justify-content: center; align-items: center; ;
    background-color:rgba(255, 0, 0, 0.2);
    border: 2px none blue; border-radius: 30px;
    
}
.revRowRightStatDiv.stGray{background: #e2e8f0;}
.revRowRightStatDiv.stGreen{background: #69f0ae;}
.revRowRightStatDiv.stRed{background: #ff7979;}

.resultDiv{
    display: none;
    width: 100vw; height: 100vh;
    background-image: url('resources/GrayBg.jpg'); 
    background-size: cover;        /* Scales image to completely cover the div without stretching */
    /* background-position: center; 
    /* background-repeat: no-repeat; */
}
.resultDiv.activated{
    display: flex;
}
.leftdiv{
    width: 30%; height: 100vh;
    display: flex; flex-direction: column;
    justify-content: center; align-items: center;
    position: relative; /* Crucial: Keeps the confetti contained inside this specific div */
    overflow: hidden;
}
.leftdiv img{
    width: 250px; height: 400px;
}
.confetti-piece {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #d5ffbc;
    pointer-events: none;
}

.confetti{
    position: absolute;
    width: 10px;
    height: 15px;
    top: -20px; 
    /* z-index: 999;  */
    animation: fall 3s linear forwards; 
    background-color:#15d7f9;
}
@keyframes fall {
  0% {
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: translateY(105vh) rotate(360deg);
    opacity: 0.25;
  }
}


.rightdiv{
    display: flex; flex-direction: column; flex: 1; 
    justify-content: center; align-items: center;
    padding: 80px;
    height: 100vh;
    
}
.scoreCell,.statusCell{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #8fc2c4;
    padding: 32px;
    box-shadow: 0 4px 4px rgba(0, 0.2, 0, 0.2);
}
.dgLabel{
    font-size: 32px;
}
.stLabel{
    font-size: 28px;
    font-weight: 800;
}
.statusCell{
    margin-right: 0px;
    border-radius: 12px;
}

