:root{
    --genBg1: #eeeaff; 
    --genBg2: #FAF6F6; /*#FAF6F6 dbdbdb */
    --genBg3: #ffecca;
    --genText1: #1E293B; 
    --genText2: #2B1A1C; /*2B1A1C 271818*/
    --genText3: #322100;
    --genText3Lt: #966400;
    --genText1Lt: #3b5175;
    --genText2Lt: #885555;
    --selectorBg: #9f1e1e; /* B21F24 9f1e1e C92A2A*/
    --selectorText: #f6e9e9;
    
    --font-modern: system-ui, -apple-system, Ubuntu, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;  margin: 0; padding: 0;
    font-family: var(--font-modern);
    background-color: var(--genBg2); color: var(--genText2);
    width: 100%;       /* Changed from 100vw */
    max-width: 100%;
    height: 100vh; /*overflow: hidden;*/
}
body.dark{
    --genBg1: #1a2333; 
    --genBg2: #271818;
    --genBg3: #322100;
    --genText1: #eeeaff;/*#2f54e7 #0F172A; */
    --genText2: #ffbdbd;
    --genText3: #ffecca;
    --genText3Lt: #966400;
    --genText1Lt: #3b5175;
    --genText2Lt: #b16b6b;
    --selectorBg:  #ece9f6; 
    --selectorText: #334563;
}

.btrh1 {font-size: 1.75rem; font-weight: 800; color: var(--genTextR2); letter-spacing: -0.08rem; 
    line-height: 1.1; margin-top: 0rem; margin-bottom: .2rem; display: block; }
.btrh2 {font-size: 1.2rem; font-weight: 600; color: var(--genTextR2); letter-spacing: -0.04rem; 
    line-height: 1.1; margin-top: 0rem; margin-bottom: .2rem; display: block; }
.btrh2Lt {font-size: 1rem; font-weight: 400; color: var(--genText2Lt); letter-spacing: -0.06rem; 
    line-height: 1.1; margin-top: 0rem; margin-bottom: .2rem; display: block; font-style: italic;}
.normalTxt{font-size: .8rem; font-weight: 400; color: var(--genTextR2); }
.normalTxtBold{font-size: .9rem; font-weight: 800; color: var(--genTextR2);}
.smallTxt{font-size: .7rem; font-weight: 400; color: var(--genTextR2); letter-spacing: .08rem;}
.catTxt{font-size: .8rem; font-weight: 600; color: var(--genTextR2); }
.catTxtLt{font-size: .8rem; font-weight: 200; color: var(--genTextR2); }
.rcntTxt{font-size: .9rem; font-weight: 800; color: var(--genTextR2);
    padding: .4rem;background-color: #27181850; border-radius: .5rem;}



.leftMenuBar, .leftMenuBar * {  box-sizing: border-box;  margin: 0;  padding: 0;}
.leftMenuBar { width: 18rem; height: 100vh; display: flex; flex-direction: column; padding: .5rem .5rem;
  border-right: 1px solid #1f1f2e;
}
    .appTitleArea{display: flex; align-items: center; gap: .2rem; margin-bottom: 2rem; }
    .sidebarMenu{ display: flex; flex-direction: column; }
        .menuItem{ display: flex; align-items: center; width: 100%; padding: .5rem 1.25rem;
            background: transparent; border: none; border-left: .25rem solid transparent; cursor: pointer;
        }
        .menuItem .icon { height: 1rem; width: auto; aspect-ratio: 1 / 1;
            display: flex; align-items: center; justify-content: center; margin-right: 1rem; 
        }
        .menuItem .label { flex-grow: 1; text-align: left;}
        .menuItem .count { padding: .2rem; font-size: .7rem; font-weight: 600;
            color: #eebebe; background-color: #633333; border-radius: 1rem; }

        .menuItem.active { background-color: var(--selectorBg); color: var(--selectorText);
            border-left-color: #e65c5c; border-radius: .75rem}
        .menuItem:hover:not(.active) { background-color: var(--selectorBg); color: var(--selectorText); 
            border-radius: .75rem }


.contents{ display: flex;flex-direction: column; min-width: 0; height: 100vh; gap: .2rem;}
    
    .contentTop{ display: flex; align-items: center; width: 100%; max-width: 100rem; gap: 1rem;
    padding: 1rem 2rem; border-radius: 1rem; 
    box-shadow: 0 10px 25px -5px #0000000d, 0 8px 16px -8px #0000000d;
    }
        .searchInput{flex: 1;  border: .1rem solid #70707050;
            background: #ff000012; width:100%; padding: 10px 18px; font-size: 1rem;  color: #1e293b;
            border-radius: 1rem;
        }
    .content{ display: none; margin-top: 1rem; flex-grow: 1;}
    .content.active{ display: flex; gap: 1rem; min-height: 0;}

        .genreCardHolder{ display: flex; justify-content: space-between; align-content: flex-start;
            flex-wrap: wrap; gap: .5rem; padding: .5rem; width:100%;}
        
             .genreCard { border-radius: .75rem; padding: .5rem; text-align: center;
                cursor: pointer; display: flex; flex-direction: column; align-items: center;
                justify-content:center; flex: 0 0 6.5rem; height: 8rem;
                box-shadow: 0 4px 6px -1px #2b1a1c0d, 0 10px 15px -3px #2b1a1c08;
             }
             .genre-name {
                margin: 0.2rem 0 0 0; margin-top: auto; margin-bottom: auto; 
                background-color: #27181810; border-radius: .5rem; padding: .2rem;;
            }
            .genre-emoji {
                font-size: 1.2rem; width: 2.2rem; height: 2.2rem; line-height: 2.2rem;
                border-radius: 50%; margin-bottom: .05rem; display: inline-block;
            }
            .movie-count { margin-top: 0; padding: .4rem;}

        .moviesHolder{ display: flex; flex-wrap: wrap; gap: 1rem;  width: 100%;}
            .movieCard{ flex: 1 0 calc(10% - 1rem); 
                min-width: 7rem; /* Ensures cards don't shrink too small on mobile */
                border-radius: 0.5rem; overflow: hidden; display: flex; flex-direction: column; }