:root{
    --genBg: #00fafa;
    --genText: #191919;    
    --leftContainerBg: #00dddd;
    --leftContainerText: #191919;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    background-color: var(--genBg);
    color: var(--genText);
}

.contLeft{
    display: flex;
    flex-direction: column;
    color:var(--leftContainerText);
    width: 240px; /*It has to be max widht + padding of the menu text*/
    background-color: var(--leftContainerBg);
    min-height: 100vh;
    border: 1px solid #efefef;
    border-radius: 4px;
}
.titleDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 48px;

}
.titleName{
    display: flex;
    flex-direction: column;
}
.navDiv{
    display: flex;
    flex-direction: column;
    background-color: var(--leftContainerBg);
    color: var(--leftContainerText);
    flex-grow: 3;
}
.navDiv a {
    display: block; /* Stacks links vertically */
    padding: 10px;
    margin-bottom: 10px;
    text-decoration: none; /* Removes default link underline */
    border-radius: 4px;
    cursor: pointer;
}
.navDiv a:hover {
      background-color: rgb(168, 165, 165);
}


.statusAreaDiv{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}


.contRight{
    width:100%;
    border: 1px solid #efefef;
    border-radius: 4px;
    background-color: #d4d4d4 ;
}
.greetingDiv{
    display: flex;
}


.statusCardContainer{
    display: flex;
    justify-content: space-between;
}
.statusCard{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    margin-left: 10px;
    width: 200px;
    height: 100px;
    padding: 10px;
    border: 1px solid #825151;
}
.statusLabel{
    font-family:'Courier New', Courier, monospace;
    font-size: 14px;

}

.contentDiv{
    display: none;
}
.contentDiv.activeDiv{
    display: block;
}


.topBar{
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}
.recordDiv{
    display: flex;
    gap: 5px;
    width: 100%;
    background-color: azure;
    flex: 1;
}
.recordElementDiv{
    display: flex;
    flex: 1;
}
.income{
    background-color: green;
    color: white;
}
.expense{
    background-color: red;
    color: white;
}
.recButton{
    display: flex;
    width: 20px;          
    height: 20px;
    gap: 4px; 
}

/* Button style */
.buttonGen {
  align-items: center;
  background-color: #0A66C2;
  border: 0;
  border-radius: 100px;
  color: #ffffff;
  cursor: pointer;
  display: inline-flex;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  justify-content: center;
  max-width: 500px;
  max-height: 36px;
  min-height: 20px;
  min-width: 10px;
  padding: 0px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
}

.buttonGen:hover,
.buttonGen:focus { 
  background-color: #16437E;
  color: #ffffff;
}

.buttonGen:active {
  background: #09223b;
  color: rgb(255, 255, 255, .7);
}

.buttonGen:disabled { 
  cursor: not-allowed;
  background: rgba(0, 0, 0, .08);
  color: rgba(0, 0, 0, .3);
}

