:root{
    --genBg: #00fafa;
    --genText: #191919;    
    --leftContainerBg: #00dddd;
    --leftContainerText: #191919;
}
*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: row;
    font-family: Arial, sans-serif;
    background-color: var(--genBg);
    color: var(--genText);
}

.contLeft{
    display: flex;
    flex-direction: column;
    color:var(--leftContainerText);
    width: 400px; /*It has to be max widht + padding of the menu text*/
    background-color: var(--leftContainerBg);
    min-height: 100vh;
}
.titleDiv{
    display: flex;
    flex-direction: row;
    color:blue;
    align-items: center;
    margin-bottom: 48px;
    background-color: aqua;
}
.titleName{
    display: flex;
    flex-direction: column;
    background-color: antiquewhite;
}
.navDiv{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    flex-grow: 3;
}
.navDiv a {
    display: block; /* Stacks links vertically */
    padding: 10px;
    margin-bottom: 10px;
    color: #000000;
    text-decoration: none; /* Removes default link underline */
    border-radius: 4px;
    cursor: pointer;
}
.navDiv a:hover {
      background-color: rgb(168, 165, 165);
}

.statusAreaDiv{
    display: flex;
    flex-direction: column;
    background-color: beige;
    flex-grow: 1;
}
.contRight{
    background-color: rgb(133, 144, 154);
    width:100%;
}
.greetingDiv{
    display: flex;
    background-color: rgb(2, 174, 174);

}
.statusCardContainer{
    display: flex;
    background-color: rgb(168, 168, 150);
    justify-content: space-evenly;
}
.statusCard{
    display: flex;
    margin-left: 10px;
    background-color: rgb(19, 162, 184);
}
.contentDiv{
    display: none;
}
.contentDiv.activeDiv{
    display: block;
}
